@{
    ViewBag.Title = "Thank Yous";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IR_BackOffice.Models.EnquiryModel


<div class="row offset2 span8 hidden-phone" style="font-family: Gotham-Medium; font-size: 10pt; padding-bottom: 30px;">

    @using (Html.BeginForm())
    {
        <br />
        <fieldset>
            <legend style="font-size: 14pt;">CONTACT FORM</legend>
            <div style="color: red; width: 100%; text-align: center">
                Thank you for your message or enquiry. Someone will be in touch as soon as possible.<br /><br />
            
                </div>
            <div class="offset2" style="color: red;">
                @Html.ValidationSummary()
            </div>
            <ol>
                <li style="list-style: none;">
                    @* @Html.LabelFor(m => m.ContactName)*@
                    @Html.TextBoxFor(m => m.ContactName, new { @placeholder = "Name", @class = "offset2", @style = "width:60%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @*@Html.LabelFor(m => m.TelephoneNumber)*@
                    @Html.TextBoxFor(m => m.TelephoneNumber, new { @placeholder = "Tel", @class = "offset2", @style = "width:60%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @*@Html.LabelFor(m => m.EmailAddress)*@
                    @Html.TextBoxFor(m => m.EmailAddress, new { @placeholder = "Email", @class = "offset2", @style = "width:60%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @* @Html.LabelFor(m => m.EmailConfirm)*@
                    @Html.TextBoxFor(m => m.EmailConfirm, new { @placeholder = "Confirm Email", @class = "offset2", @style = "width:60%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @*@Html.LabelFor(m => m.Enquiry)*@
                    @Html.TextAreaFor(m => m.Enquiry, new { @placeholder = "Message or enquiry", @class = "offset2", @style = "width:60%;", @rows = "8" })
                </li>
                <li style="list-style: none;">
                    @Html.CheckBoxFor(m => m.SendToSelf, new { @class = "offset2" })<span style="display: inline; font-size: 12px; font-family: Gotham-Medium">&nbsp;&nbsp;Send a copy to yourself</span>
                </li>
            </ol>
            <script src="~/Scripts/placeholder.js"></script>
            &nbsp;&nbsp;<input type="submit" value="Submit" style="width: 100px!important;" class="offset2" />
        </fieldset>
    }

</div>

<div class="row offset2 span8 hidden-tablet hidden-desktop" style="font-family: Gotham-Medium; font-size: 10pt; padding-bottom: 30px;">

    @using (Html.BeginForm())
    {
        <br />
        <fieldset>
            <legend>&nbsp;&nbsp;&nbsp;&nbsp;CONTACT FORM</legend>
            <div style="margin-left: 20px; color: red; width: 90%">
                @Html.ValidationSummary()
                <span>Thank you for your message or enquiry. Someone will be in touch as soon as possible.</span><br />
                <br />
            </div>
            <ol>
                <li style="list-style: none;">
                    @* @Html.LabelFor(m => m.ContactName)*@
                    @Html.TextBoxFor(m => m.ContactName, new { @placeholder = "Name", @class = "offset2", @style = "width:82%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @*@Html.LabelFor(m => m.TelephoneNumber)*@
                    @Html.TextBoxFor(m => m.TelephoneNumber, new { @placeholder = "Tel", @class = "offset2", @style = "width:82%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @*@Html.LabelFor(m => m.EmailAddress)*@
                    @Html.TextBoxFor(m => m.EmailAddress, new { @placeholder = "Email", @class = "offset2", @style = "width:82%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @* @Html.LabelFor(m => m.EmailConfirm)*@
                    @Html.TextBoxFor(m => m.EmailConfirm, new { @placeholder = "Confirm Email", @class = "offset2", @style = "width:82%; height: 25px;" })
                </li>
                <li style="list-style: none;">
                    @*@Html.LabelFor(m => m.Enquiry)*@
                    @Html.TextAreaFor(m => m.Enquiry, new { @placeholder = "Message or enquiry", @class = "offset2", @style = "width:82%;", @rows = "8" })
                </li>
                <li style="list-style: none;">
                    @Html.CheckBoxFor(m => m.SendToSelf)<span style="display: inline; font-size: 12px; font-family: Gotham-Medium">&nbsp;&nbsp;Send a copy to yourself</span>
                </li>
            </ol>
            <script src="~/Scripts/placeholder.js"></script>
            <input type="submit" value="Submit" style="width: 100px!important; margin-left: 37px;" />
        </fieldset>
    }

</div>

@section scripts{
    @Scripts.Render("~bundles/jqueryval")
}
