@using IR_BackOffice.Objects
@model IEnumerable<IR_BackOffice_Data.BookmakerItem>

@{
    ViewBag.Title = "Bookmaker Items";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BookmakerItem Items</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @style = "color: blue; text-decoration: underline;" })
</p>
<table>
    <tr>
        <th style="text-align: center; padding: 0px 30px 0px 30px">Title</th>
        <th style="text-align: center; padding: 0px 30px 0px 30px">Ur</th>
        <th style="text-align: center; padding: 0px 30px 0px 30px">Content</th>
        <th style="text-align: center; padding: 0px 30px 0px 30px">Date Added</th>
        <th style="text-align: center; padding: 0px 30px 0px 30px">Is Live?</th>
        <th colspan="3">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.DateAdded).ToString().Remove(8)
            </td>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.IsLive)
            </td>
            <td colspan="3" style="text-align: center;">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
