@model System.Linq.IQueryable<IR_BackOffice_Data.LeagueCodes>

@{
    ViewBag.Title = "League Codes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<span>
    <br />
    The league codes match up to their names. If a name is not matched the code will be displayed in the Live Scores feed.
    <br />
</span>

<div class="span12">
    <br />

    <div style="padding-right: 10px;"><b>@Html.ActionLink("Add New", "Create", "ManageLeagueCodes", null, new { @style = "color: blue; text-decoration: underline;" })</b></div>
    <div style="padding-right: 10px;"><b>@Html.ActionLink("Manage", "Index", "ManageLeagueCodes", null, new { @style = "color: blue; text-decoration: underline;" })</b></div>

    <h3>Bookmaker Items</h3>
    @foreach (var p in Model)
    {
        <div class="span4">
            <div class="row">
                <div class="span2">
                    <h5>@p.LeagueCode</h5>
                     <h5>@p.Name</h5>
                    <div style="float: right; padding-right: 10px;"><b>@Html.ActionLink("Details •", "LeagueCodes", "LeagueCodes", new { id = @p.Id }, null)</b></div>
                </div>
            </div>
        </div>
    }
</div>
