@using IR_BackOffice.Models

<div id="divBetFeedMini" style="overflow-y: auto; background-color: white;" class="scroll">
    @{
        var db = new IR_BackOffice.Infrastructure.IR_Database();

        try
        {
            var items = db.TipsItems.OrderByDescending(u => u.DateAdded).Where(u => u.IsLive).Take(10);

            if (!items.Any())
            {
        <div style="background-color: #8bb839; padding: 10px 10px 10px 10px;">
            <span style="font-family: Gotham-Medium; color: black;">There are no betting tip items to display.</span>
        </div>  
            }
            else
            {
                int index = 1;
                int itemCount = items.Count();

                foreach (var item in items)
                {
        <div style="background-color: #8bb839; line-height: 20px; padding: 5px 10px 5px 10px">
            <table>
                <tr>
                    <td style="width: 75px; padding-right: 10px; text-align: center; vertical-align: middle;">
                        <img style="border: 0px none white; height: 75px; max-width: 75px;" src="@Url.Action("DisplayImageAsync", "Tips", new { id = item.Id })" />
                    </td>
                    <td>
                        <span style="font-family: Gotham-Medium">@item.DateAdded.ToLongDateString()</span><br />
                        <span style="font-family: Gotham-Bold; color: white;">@Html.ActionLink(@item.Title.ToUpper(), "TipsItem", "Home", new { id = item.Id }, new {@style="font-family: Gotham-Bold; color: white;"})</span><br />
                        <span style="font-family: Gotham-Medium; color: black; font-size: 7pt;">@Html.ActionLink("VIEW TIP >", "TipsItem", "Home", new { id = item.Id }, new {@style="font-family: Gotham-Medium;"})</span><br />
                    </td>
                </tr>
            </table>



        </div>

                    if (index != itemCount)
                    {
        <div style="background-color: white; height: 2px;">
        </div>
                    }

                    index++;
                }
            }
        }
        catch (Exception e)
        {
            Console.Out.WriteLine("Error: " + e.Message);
            
        <div style="background-color: #8bb839; padding: 10px 10px 10px 10px;">
            <span style="font-family: Gotham-Medium; color: black;">Error loading betting tip items. Please try again later.</span>
        </div>  
        }
    }

</div>
