@using System.Globalization
@using IR_BackOffice.Infrastructure
@using IR_BackOffice.Models
@model IR_BackOffice_Data.BookmakerItem

@{
    ViewBag.Title = "Bookmaker Item";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row-fluid">
    <h3>
        <b>@Html.Raw(Model.Title)</b>
    </h3>
    <div class="span3">
        <img src="@Url.Action("DisplayImageAsync", "Bookmaker", new { id = Model.Id })" />
        <br />
        <br />
    </div>

    <div class="span6">
        <p>
            Posted on: @Model.DateAdded.ToShortDateString()
        </p>
        <p>
            Url: <a target="_blank" href="@Model.Url" style="color:blue; text-decoration: underline">@Model.Url</a>
        </p>
        <p>
            @Html.Raw(Model.Text)
        </p>
        @{
            var db = new IR_Database();

            var next = db.NewsItems.OrderByDescending(u => u.Id).Where(u => u.IsLive && u.Id < Model.Id).Take(1);
            try
            {
                var result = next.Single();
                int nextid = result.Id;
            }
            catch
            {

            }
        }
        @* ReSharper restore EmptyGeneralCatchClause *@

        <a href="#" onclick="history.go(-1);return true;" style="text-decoration: underline"><b>< Back</b></a>
    </div>
</div>
