@model IR_BackOffice.Models.LoginModel

@{
    
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <br />

    <h2>Use a local account to log in.</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol style="list-style: none;">
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    <table>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.RememberMe) 
                    
                            </td>
                            <td>
                                @Html.LabelFor(m => m.RememberMe, new { @style="margin-left: 5px; margin-bottom: -3px;" })
                            </td>
                        </tr>
                    </table>
                    
                </li>
            </ol>
            &nbsp;&nbsp;&nbsp;<input type="submit" value="Log in"/>
        </fieldset>
        <p>
            <br />
            <span>Demo Version - You can make your own account. Default: User = admin Password = password</span><br /><br />
            @Html.ActionLink("Register", "Register", null, new { @Style = "color: blue; text-decoration: underline;" }) if you don't have an account.
        </p>
    }
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
