@model IR_BackOffice.Models.CreateNewsViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "ManageNews", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CreateNewsViewModel</legend>

        <div>
            Title
        </div>
        <div>
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div>
            Short Description
        </div>
        <div>
            @Html.EditorFor(model => model.ShortText)
            @Html.ValidationMessageFor(model => model.ShortText)
        </div>

        <div>
            Image
        </div>
        <input type="file" name="image" />

        <div>
            <br />
            Content
        </div>
        <div>
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div>
            <br />
            Date Added (dd/mm/yy)
        </div>
        <div>
            @Html.EditorFor(model => model.DateAdded)
            @Html.ValidationMessageFor(model => model.DateAdded)
        </div>

        <div>
            Is Live?&nbsp;
            @Html.EditorFor(model => model.IsLive)
            @Html.ValidationMessageFor(model => model.IsLive)
            <br />
            <br />
        </div>
        <input type="submit" value="Create" />
    </fieldset>
}

<div>
    @Html.ActionLink("<< Back to List", "Index", null, new {@Style="color: blue; text-decoration: underline;"})
    <br /> 
    <br />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
